<div class="container">
  <div class="panel-heading">
    <h1>Our offers:</h1>

<% @services.each do |service| %>
  <%= link_to service_path(service.id), class: 'banner-text' do %>
    <div class="card-trip">
      <img src='<%= cl_image_path service.photo.key, height: 300, crop: :fill %>') />
      <div class="card-trip-infos">
        <div>
          <h2><%= service.name %></h2>
        </div>
        <h2 class="card-trip-pricing">Price: <%= service.price %>€</h2>
        <%= cl_image_tag service.user.photo.key, class: "card-trip-user avatar-bordered" %>
      </div>
    </div>
      <% end %>
<% end %>

  </div>
    <div>
      <a class="btn btn-login" href="/services/new">Add a service!</a>
    </div>

  <%= link_to root_path do %>
    <i class="fas fa-step-backward"></i>
  <% end  %>
  </div>
</div>
