<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @service.photo.key, height: 300, crop: :fill %>');">
  <img src= <%= cl_image_path @service.user.photo.key, height: 300, crop: :fill %> class="card-trip-user-show avatar-bordered" />
</div>
  <div class="container show-text">
    <h1><%= @service.name %></h1>
    <p class="description">Cost to hire: <strong><%= @service.price %>€/h</strong></p>
  </div>

  <div class="container">
    <p><strong>Service description: </strong><%= @service.description %></p>
  </div>
