<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<div class="logo-elements">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'rent-a-mixer-logo-final.png', style: 'height:7vh; width:auto;' %>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag "https://cdn.domestika.org/c_fill,dpr_auto,f_auto,h_256,pg_1,t_base_params,w_256/v1574805183/avatars/001/739/354/1739354-original.jpeg?1574805183", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%= link_to "Services", services_path, class: "dropdown-item" %>
            <%= link_to "Add a service", new_service_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
          <%= link_to new_user_session_path do %>
          <i class="fas fa-sign-in-alt"></i>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>
